html {
    font-family: Saira, "梦源黑体 SC", "Dream Han Sans", "思源黑体 SC", "Source Han Sans", 微软雅黑, sans-serif;
    background-color: azure;
}

header {
    min-width: 101%;
    min-height: 5%;
    margin-left: -0.5%;
    text-align: left;
    box-shadow: 0 5px 5px #85ffea;
    div {
        display: inline-block;
        a {
            text-decoration-line: none;
        }
    }
    div#titleHeader {
        float: left;
        margin-top: -0.6%;
        margin-left: 0.7%;
        a {
            color: black;
            font-size: 1.9em;
            font-weight: bold;
        }
    }
    div#languageDiv {
        float: right;
        max-width: 7%;
        margin-right: 0.5%;
        a {
            font-size: 1.6em;
            margin-right: 7%;
            img {
                display: inline-block;
                width: 37.6%;
                border-radius: 7px;
            }
        }
    }
}

li.modulesListLi {
    font-size: larger;
    font-weight: bold;
    p {
        margin-bottom: 0;
    }
    div {
        font-size: medium;
        font-weight: normal;
    }
}

div#bodyDiv {
    background-color: #daf8f8;
    border-radius: 5px;
    max-width: 98%;
    margin-top: 0.9%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    h1 {
        margin-left: 1.1%;
        margin-top: 1.35%;
    }
}

ul#modulesList {
    margin-top: -1%;
}